
models/ldm/text2img-large/model.ckpt
models/ldm/stable-diffusion-v1/v1-5-pruned-emaonly.ckpt
models/ldm/stable-diffusion-v1/instruct-pix2pix-00-22000.ckpt
outputs/
logs/
.vscode
**/*.ckpt
*.pyc
*pycache*
results_basile/
*.png
*.pt
*.jpg
